.loading {
  display: grid;
  place-items: center;
}

.main-edit {
  /* position: relative; */
  display: grid;
  grid-template-columns: calc(50% - 13.3px) repeat(2, calc(25% - 13.3px));
  grid-auto-rows: calc(7.5% - 15px) calc(42.5% - 15px) calc(7.5% - 15px)
    calc(42.5% - 15px);
  grid-template-areas:
    's ta tl'
    's a l'
    's tt tt'
    's t t';
  padding: 20px;
  gap: 20px;
}

.main-edit h2,
.loading h2 {
  font-size: 30px;
  font-weight: 600;
}

section {
  background-color: white;
  border: var(--border);
  border-radius: var(--border-radius-10) !important;
  padding: 20px;
  overflow: hidden;
}

div.grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    auto-fill,
    calc(((100% - var(--gap)) / 2) - 1px)
  );
  grid-auto-rows: calc((100% - var(--gap)) / 3);
  overflow: auto;
}

div.grid-teachers {
  grid-template-columns: repeat(auto-fill, calc((100% - var(--gap) * 3) / 4));
}

section div > .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius-5);
  border: var(--border);
  padding-inline: 5px;
  text-align: center;
}

section div > .item p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid > .disabled {
  background-color: var(--red-50-color);
  border-color: red;
  color: red;
}

.schedule {
  position: relative;
  grid-area: s;
}

.assignatures {
  grid-area: a;
}

.laboratories {
  grid-area: l;
}

.teachers {
  grid-area: t;
}

.edit-schedule {
  width: 100%;
  margin-inline: auto !important;
}

.edit-schedule > :not(caption) > * > * {
  border: 1px solid black;
  padding: 0px;
  user-select: none;
}

.edit-schedule thead tr th,
.edit-schedule thead tr td,
.edit-schedule tbody tr td:first-child {
  background-color: var(--blue-color) !important;
  color: var(--white-color);
  text-align: center !important;
}

.edit-schedule thead td,
.edit-schedule tbody td {
  width: calc(100% / 6);
}

.edit-schedule thead tr:first-child {
  height: 35px;
}

.edit-schedule thead tr:last-child {
  height: 30px;
}

.edit-schedule tbody tr:nth-child(n + 1) td {
  height: 81px;
  padding: 5px;
}

.block {
  text-align: center;
}

.edit-schedule tbody td > div:not(.block) {
  background-color: var(--black-25-color);
  /* border: var(--border); */
  /* outline: 1px; */
  border-radius: var(--border-radius-5);
  height: 25px !important;
  min-width: none;
  max-width: 75px !important;
  outline: none;
  margin-inline: auto !important;
}

.schedule > div:first-child > div:not(table) {
  display: none;
}

.dragging {
  height: max-content !important;
  width: max-content !important;
}

.placeholder {
  background-color: grey;
  border-radius: var(--border-radius-5);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.placeholder::before {
  content: '';
  background-color: darkgrey;
  width: 20%;
  height: 300%;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.placeholder:nth-child(even)::before {
  animation-name: placeholder-animation-even;
  height: 400%;
  transform: translate(-145%, -40%) rotate(45deg);
}

.placeholder:nth-child(odd)::before {
  animation-name: placeholder-animation-odd;
  height: 180%;
  transform: translate(-310%, -21%) rotate(45deg);
}

.x2:nth-child(even)::before {
  animation-name: placeholder-x2-even !important;
  width: 10%;
}

.x2:nth-child(odd)::before {
  animation-name: placeholder-x2-odd !important;
  width: 10%;
}

@keyframes placeholder-animation-even {
  to {
    transform: translate(550%, -40%) rotate(45deg);
  }
}

@keyframes placeholder-animation-odd {
  to {
    transform: translate(700%, -21%) rotate(45deg);
  }
}

@keyframes placeholder-x2-even {
  to {
    transform: translate(1200%, -40%) rotate(45deg);
  }
}

@keyframes placeholder-x2-odd {
  to {
    transform: translate(1200%, -21%) rotate(45deg);
  }
}

.background-modal {
  position: absolute;
  background-color: var(--black-25-color);
  border-radius: var(--border-radius-5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s, opacity 0.25s;
}

.modal-type {
  position: absolute;
  background-color: white;
  border-radius: var(--border-radius-5);
  border: var(--border);
  width: 150px;
  height: 0px;
  transition: height 0.25s;
  opacity: 0;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: attr(y);
  left: attr(x); */
}

.modal-type div {
  cursor: pointer;
  display: grid;
  grid-template-columns: 70% 5% 25%;
  padding-inline: 10px;
  /* justify-content: space-between; */
  transition: background-color 0.25s;
}
.modal-type div:hover {
  background-color: var(--yellow-50-color);
}

.modal-type div p {
  display: flex;
  align-items: center;
  font-size: 17px;
  height: 40px;
}

.modal-type div p:first-child {
  margin-right: auto !important;
}

.modal-type div p:last-child {
  margin-left: auto !important;
}

.modal-type .divider {
  background-color: var(--blue-color);
  width: 100%;
  margin: 0 !important;
}

.deploy-modal {
  opacity: 1;
  visibility: visible;
}

.deploy-selector {
  height: 128px;
  opacity: 1;
}

.option-disabled {
  pointer-events: none;
  background-color: var(--red-50-color);
}
