.main-edit {  
  display: grid;
  grid-template-columns: calc(50% - 13.3px) repeat(2, calc(25% - 13.3px));
  grid-auto-rows: calc(10% - 15px) calc(40% - 15px) calc(10% - 15px) calc(40% - 15px);
  grid-template-areas:
    's ta tl'
    's a l'
    's tt tt'
    's t t';
  padding: 20px;
  gap: 20px;
}

.main-edit h2 {
  font-size: 30px;
  font-weight: 600;
}

section {
  background-color: white;
  border: var(--border);
  border-radius: var(--border-radius-10) !important;
  padding: 20px;
  overflow: hidden;
}

div.grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, calc(((100% - var(--gap)) / 2) - 1px));
  grid-auto-rows: calc((100% - var(--gap)) / 2);
  overflow: auto;
}

div.grid-teachers {
  grid-template-columns: repeat(auto-fill, calc((100% - var(--gap)  * 3) / 4  ));
}

section div > .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius-5);
  border: var(--border);
  padding-inline: 5px;
  text-align: center;
}

section div > .item p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.grid > .disabled {
  background-color: var(--black-25-color);
  border-color: var(--black-50-color);
  color: var(--black-50-color);
}

.schedule {
  grid-area: s;
}

.asignatures {
  grid-area: a;
}

.laboratories {
  grid-area: l;
}

.teachers {
  grid-area: t;
}

.edit-schedule {
  width: 100%;
  margin-inline: auto !important;
}

.edit-schedule > :not(caption) > * > * {
  border: 1px solid black;
  padding: 0px;
  user-select: none;
}

.edit-schedule thead tr th,
.edit-schedule thead tr td,
.edit-schedule tbody tr td:first-child {
  background-color: var(--blue-color) !important;
  color: var(--white-color);
  text-align: center !important;
}

.edit-schedule thead td,
.edit-schedule tbody td {
  width: calc(100% / 6);
}

.edit-schedule thead tr:first-child {
  height: 35px;
}

.edit-schedule thead tr:last-child {
  height: 30px;
}

.edit-schedule tbody tr:nth-child(n + 1) td {
  height: 81px;
  padding: 5px;
}

.block {
  text-align: center;
}

.edit-schedule tbody td > div:not(.block) {
  background-color: var(--blue-color);
  border: none;
  border-radius: var(--border-radius-5);
  height: 25px !important;
  min-width: none;
  max-width: 50px !important;
  outline: none;
  margin-inline: auto !important;
}

.schedule > div > div:not(table) {
  display: none;
}

.dragging {
  height: max-content !important;
  width: max-content !important;
}