  .main-home {
    margin-inline: auto !important;
    display: grid;
    padding: 20px;
    gap: 20px;
    width: 90%;
    grid-template-columns: calc(20% - 10px) calc(80% - 10px);
    grid-auto-rows: calc(10% - 15px) calc(60% - 15px) calc(10% - 15px) calc(20% - 15px); 
    /* ^SOLUCION TEMPORAL^ NO SE POR QUE NO FUNCIONA CON MEDIDAS FR AYUDAAAA*/
    grid-template-areas:
      "selector cheader"
      "selector courses"
      "selector stitle"
      "selector semesters";
  }

  .empty {
    grid-area: 1 / 2 / 5 / 3;
    display: grid;
    place-content: center;
  }

  .empty>h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-inline: 20px;
    padding-block: 10px;
  }

  .career-btn {
    padding: 20px 15px;
    background-color: var(--white-color);
    transition: .25s;
    cursor: pointer;
  }

  .career-btn p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
  }

  .active {
    background-color: var(--blue-color);
    color: white;
  }
  
  .career-header {
    grid-area: cheader;
    display: flex;
    justify-content: space-between;
  }

  .career-title {
    font-size: 2.5rem;
  }

  .career-header select, .career-header option {
    height: 40px;
    font-size: 1.4rem;
    width: 80px;
    text-align: center;
  }

  .semesters-title {
    font-size: 2.5rem;
    padding-bottom: 25px;
    grid-area: stitle;
  }

  .career-selector-container {
    grid-area: selector;
  }

  .prev-malla {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 5px 5px 5px;
    max-width: inherit;
    position: relative;
    grid-area: courses;
  }

  .semester-selector-container {
    grid-area: semesters;
  }

  .content {
    display: grid;
    grid-template-columns: 20% 70%;
  }

  .blue-border {
    border: solid;
    border-radius: 0.5rem;
    border-color: var(--blue-color);
  }

  .results-container {
    padding: 5px 0;
    display: grid;
    row-gap: 5px;
  }

  .input-search {
    width: 100%;
    position: relative;
  }

  .input-search input {
    width: 100%;
    border: solid 1px var(--blue-color);
    border-radius: 0.5rem;
    padding: 5px 30px 5px 10px;
  }

  .input-search span {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    height: 100%;
    /* top: 50%; */
    /* transform: translateY(-50%); */
  }

  .prev-malla-title {
    padding: 10px 0px;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    text-align: center;
    z-index: 1;
  }

  .semester-title {
    text-align: center;
    white-space: nowrap;
    background-color: var(--background-color);
    z-index: 1;
    border: solid 1px var(--black-25-color);  
  }

  .icon {
    color: var(--blue-color);
    text-align: center;
  }

  .selected {
    background-color: var(--blue-color);
    color: white;
  }

  .careers-container {
    padding: 5%;
    min-height: 100%;
    max-height: 100%;
  }

  .semesters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-auto-flow: column;
    flex-grow: 1;
    overflow: auto;
  }

  .semester-title {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .semester-column {
    padding: 0px 3px;
    justify-content: center;
    /* position: relative; */
  }

  .schedule-block {
    border: solid 1px var(--black-25-color);
    min-height: 6rem;
    max-height: 6rem;
    padding: 5px 10px;
    word-wrap: break-word;
    text-align: center;
  }

  .schedule-block-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .semester-selector {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    row-gap: 10px;
  }

  .grey-border {
    border: solid 2px var(--grey-color);
    border-radius: 10px;
  }

  .semester-btn {
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: var(--white-color);
    filter: drop-shadow(0 0 0.1rem var(--black-25-color));
    width: 80%;
    padding: 0.3rem 0;
    transition: .25s;
    color: black;
    cursor: pointer;
  }

  .career-btn:hover,
  .semester-btn:hover {
    /* box-shadow: 0 0 0.3rem var(--blue-color); */
    filter: drop-shadow(0 0 0.3rem var(--blue-color));
    /* transform: scale(1.025); */
  }

  .schedule-block:not(:last-child) {
    margin-bottom: 1px !important;
  }
  
  .semesters-container>div:not(:last-child) {
    margin-right: 1px !important;
  }

  .semester-courses {
    margin-top: 1px !important;
  }

  .preview-schedule-container {
    overflow: auto;
  }

.preview-schedule thead tr th,
.preview-schedule thead tr td,
.preview-schedule tbody tr td:first-child {
  background-color: var(--blue-color) !important;
  color: var(--white-color);
  text-align: center !important;
}

.preview-schedule thead {
  width: calc( 100% - 20px );
}

.preview-schedule tbody {
  display: block;
  height: 300px;
  overflow:auto;
}

.preview-schedule thead, .preview-schedule tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

.preview-schedule tbody td {
  height: 80px;
}

.preview-schedule td div {
  text-align: center;
  border: solid 1px var(--grey-color);
  padding: 1px;  
}

/* LOADING ELEMENTS */
.career-btn-loading {
  height: 80px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.loading-animation {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: loading-animation 0.4s linear infinite;
}

@keyframes loading-animation {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}